* {
    background-color: #fff;
    -webkit-animation: color_change 4s infinite alternate;
    -moz-animation: color_change 4s infinite alternate;
    -ms-animation: color_change 4s infinite alternate;
    -o-animation: color_change 4s infinite alternate;
    animation: color_change 4s infinite alternate;
    font-family: 'Roboto', sans-serif;
}

/* Text styles */

.logo {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #000;
    position: relative;
    margin: 20px;
    float: left;
    margin-top: 50px;
    margin-left: 75px;
    border-bottom: 5px solid black;
}

.logo > a {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.info {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #000;
    position: relative;
    float: left;
    clear: both;
    margin: 23px;
    line-height: 40px;
    margin-left: 75px;
    padding: 5px;
}

.info > p {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 900;
}


/* Link styles */

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #8DC27C;
}

a:visited {
    text-decoration: none;
    color: #fff;
}
a:visited:hover {
    color: #8DC27C;
}

.logo > a {
    text-decoration: none;
    color: #000;
}

.logo > a:hover {
    text-decoration: none;
    color: #000;
}

.logo > a:visited {
    color: #000;
}

/* Keyframes */

@-webkit-keyframes color_change {
    from {background-color: #7CB0C2; }
    to {background-color: #C28E7C; }
}
@-moz-keyframes color_change {
    from {background-color: #7CB0C2; }
    to {background-color: #C28E7C; }
}
@-ms-keyframes color_change {
    from {background-color: #7CB0C2; }
    to {background-color: #C28E7C; }
}
@-o-keyframes color_change {
    from {background-color: #7CB0C2; }
    to {background-color: #C28E7C; }
}
@keyframes color_change {
    from {background-color: #7CB0C2; }
    to {background-color: #C28E7C; }
}
